_book/
_freeze/
.quarto/
/.quarto/
_quarto.yml
/*.qmd
/*.png
/*.ipynb
/*.html


/*.log
/*.aux
/*.tex
/*.toc


# Byte-compiled / cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/

# Environments & secrets
.env
.env.*
.venv/
*.pem
*.key

# Data (raw & interim never committed)
data/raw/
data/interim/

# Logs & caches
logs/
.cache/

# R / RStudio files
.Rhistory
.Rproj.user/
